@charset "utf-8";
/************* common **************/
body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
}
body * {
	font-size: 100%;
}
/************* design **************/
body#design {
	text-align: center;
	background-color: #f3f2e9;
}
/************* print **************/
@media print {
	#design img[src="../img/responsive.jpg"] {
		height: 27cm;
	}
}